@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}

html, body {
  scrollbar-width: none;         
  -ms-overflow-style: none;      
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;                 
  width: 0;                       
  height: 0;
}